@tailwind base;
@tailwind components;
@tailwind utilities;


/* app/globals.css */

html, body {
  position: relative;
  height: 100%; /* Memastikan body mengambil seluruh tinggi */
  margin: 0;
  padding: 0;
  background: #161616;
  overflow-x: hidden;
  overflow-y: auto; /* Mengizinkan scroll vertikal */
}


::-webkit-scrollbar {
  width: 8px;
  /* Sesuaikan lebar scroll bar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  /* Scroll bar transparan */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Lintasan scroll bar transparan */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}